{% extends 'store/main.html' %}
<!-- product_details.html -->
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }} Details</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .product-details {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin: 20px;
        }

        .product-image img {
            max-width: 100%;
            height: auto;
        }

        .product-description {
            flex: 0 0 65%; /* Açıklama bölümünün genişliği */
            max-width: 65%;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>{{ product.name }}</h2>
        
        <div class="product-details">
            <div class="product-image">
                <img src="{{ product.imageURL }}" alt="{{ product.name }}" class="img-fluid">
            </div>
            <div class="product-description">
                <h5>{{ product.name }}</h5>
                <p><strong>Fiyat: </strong> {{ product.price }} TL</p>
                <p><strong>Ürün Açıklaması:</strong>  {{ product.description }}</p>
                <p><strong>Renk:</strong>  {{ product.color }}</p>
                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Sepete Ekle</button>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS ve Popper.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
{% endblock content %}
